/*global*/
*{
    margin: 0;
    padding: 0;
}

.input-container{
    margin-top: 1rem;
}

.form-container{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
    border-radius: 2rem;
    text-align: center;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}