/*global*/
html{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    height: 100vh;
}

.reg-body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-left: -8px;
}

.nav-bar{
    flex:1 1 200px;
 }

 .nav-bar2{
    flex:1 1 200px;
 }
 .links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none ;
    font-size: 24px;
    font-weight: bolder;
 }

 .nav-bar :hover{
     text-decoration: underline;
     cursor: pointer;
 }

 header h1{
     margin-top: 5rem;
     color: rgb(0, 0, 0);
     text-align: center;
 }



.input-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-container{
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    text-align: center;
}

.login-container{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    border: solid 2px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    text-align: center;
    
}



button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    height: 2rem;
    background-color: rgb(39, 140, 235);
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
}

.reg-btn{
    text-align: center;
    
}

.alert-error{
    border: 1px solid rgb(235, 45, 45);
    background-color: red;
    color: white;
    padding: 5px;
    text-decoration: underline;
}

.input-error{
    border: 2px solid red;
    background-color: rgb(224, 190, 190);
}

.hide{
    display: none;
}

